/* --------------------------------------------------

	Global Settings and Media Queries

* -------------------------------------------------- */

:root {
    color-scheme: light dark;
    --background-color: #FFFFFF;
    --text-color: #000000;
    --link-color: #5D779D;
	  --subtle-link-color: #5D779D;
    --highlight-color: Gainsboro;
    --red-text-color: #8A4D4C;
    --nav-color: #985653;
    --navbg-color: #E0E0E0;
    --navbg-color-hover: #B0B0B0;
    --navbg-color-active: #C0C0C0;
}
a.ext-link::after {
    content: "";
    width: 0.9em;
    height: 0.9em;
    margin-left: 0.2em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
}
@media screen and (prefers-color-scheme: dark) { 
  :root {
    --background-color: #000000;
    --text-color: #F0F0F0;
    --link-color: #93d5ff;
    --subtle-link-color: #b6e2ff;
    --highlight-color: DimGray;
    --red-text-color: #C06E6C;
    --nav-color: #C06E6C;
    --navbg-color: #202020;
    --navbg-color-hover: #303030;
    --navbg-color-active: #404040;
  }
		a.ext-link::after {
			content: "";
			width: 0.9em;
			height: 0.9em;
			margin-left: 0.2em;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' stroke='%23F0F0F0' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			display: inline-block;
	}
}

.search-results {
    background-color: var(--highlight-color);
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: border-box;
}

/* --------------------------------------------------

	Body and Paragraphs
	
 * -------------------------------------------------- */

body { 
	float: none;
  max-width: 33em;
  padding: 1rem 0.5rem;
  tab-size: 4; 
  margin: 0 auto; 
  background-color: var(--background-color);
  color: var(--text-color); 
  font-family: 'equity-text', Georgia, 'Times New Roman', Times, serif;
	font-size: 16pt;
	line-height: 140%;
}

p {
	margin-block-start: 0.5em;
}

p.line-spacer {
	margin: 0;
	padding: 0;
}

/* --------------------------------------------------

	Images

* -------------------------------------------------- */

img {
	width: 100%;
	max-width: 100%;
	border: 4px solid gray; 
}

img.apple-music {
	border: 0;
	margin-left: auto;
	margin-right: auto;
}

img.cc-image {
	height:22px!important;
	width: auto;
	margin-left:3px;
	vertical-align:text-bottom;
	border: 0; 
}

/* --------------------------------------------------

	Links

* -------------------------------------------------- */

a {
    color: var(--link-color);
}

.lex-content a:link {
	color: var(--subtle-link-color);
	text-decoration: none;
	border-bottom: 1px var(--subtle-link-color) dotted;
}

.lex-content a:visited {
	color: var(--subtle-link-color);
	text-decoration: none;
}

.lex-content a:active {
	color: var(--subtle-link-color);
	text-decoration: none;
}

.lex-content a:hover {
	color: var(--subtle-link-color);
	text-decoration: none;
	border-bottom: 1px var(--link-color) dotted;
}

a.subtle-link { 
	color: var(--subtle-link-color); 
	text-decoration: none;
}

a.invisi-link { 
	color: inherit; 
	text-decoration: none;
	border-bottom: 0;
}

.apple-music {
	text-align: center
}

.apple-music a:link {
	text-decoration: none;
	border-bottom: 0;
}

.lex-content a:visited {
	text-decoration: none;
	border-bottom: 0;
}

.lex-content a:active {
	text-decoration: none;
	border-bottom: 0;
}

.lex-content a:hover {
	text-decoration: none;
	border-bottom: 0;
}

/* --------------------------------------------------

	Tables

* -------------------------------------------------- */

table { 
	margin-top: 1rem;
	margin-bottom: 1rem;
  border-collapse: collapse; 
  font-family: 'concourse-text', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16pt;
  line-height: 1.428571429;
  color: var(--text-color);
} 

table, th, td { 
  border: 2px solid gray; 
} 

th, td { 
  padding: 6px; 
} 

/* --------------------------------------------------

Page Header (Masthead)

* -------------------------------------------------- */

header {
	display: flex;
	flex-direction: row;
	margin-top: 0.1rem;
	margin-bottom: 0;
	padding-top: 0.5rem;
	padding-bottom: 1rem;
}

#header-left {
	display: flex;
	flex-direction: column;
}

#header-logo-and-name {
	display: flex;
	flex-direction: row;
}

#header-right {
	margin-left: auto;
}

.header-logo-image {
	max-width: 96px;
	margin-right: 24px;
	border: 0;
	border-radius: 20px;
}

#header-title-and-nav {
	flex-direction: column;
}

#header-title { 
	font-family: 'concourse_t6regular', 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 2.5rem;
	margin-top: 0.2rem;
}

#header-slogan {
	font-family: 'concourse_t4italic', 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.8rem;
	margin-top: 1.2rem;
	margin-bottom: 0.5rem;
}

/* --------------------------------------------------

  Navigation Menu

* -------------------------------------------------- */

#nav-menu {
  font-family: 'concourse_t2regular', 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#nav-menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-inline-start: 0;
	overflow: hidden;
	background-color: var(--navbg-color);
	border-radius: 20px;
}

#nav-menu li {
	float: left;
}

#nav-menu a {
	display: block;
	color: var(--nav-color);
	text-align: center;
	padding: 14px 14px; 
	text-decoration: none;
}

#nav-menu a:hover {
  background-color: var(--navbg-color-hover);
}

.active {
	background-color: var(--navbg-color-active);
}

/* --------------------------------------------------

	Headings
	
 * -------------------------------------------------- */
 
 h1, h2, h3, h4, h5, h6 {
	font-family: 'concourse_t4regular', 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
}
 
h1 { font-size: 2.0em; margin-top: 0.7em; margin-bottom: 0.0em; font-weight: 600; font-style: normal;  }
h2 { font-size: 1.8em; margin-top: 0.7em; margin-bottom: 0.0em; font-weight: 600; font-style: normal;  }

h3 { 
	font-size: 1.5em; 
	margin-top: 0.7em; 
	margin-bottom: 0.0em; 
	font-weight: 600; 
	color: var(--red-text-color);  
	font-family: 'concourse_t4italic', 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h4 { font-size: 1.4em; margin-top: 0.7em; margin-bottom: 0.0em; font-weight: 600; font-style: normal;  }
h5 { font-size: 1.2em; margin-top: 0.7em; margin-bottom: 0.0em; font-weight: 600; font-style: normal;  }
h6 { font-size: 1.0em; margin-top: 0.7em; margin-bottom: 0.0em; font-weight: 600; font-style: normal;  }

/* --------------------------------------------------

	Song Header
	
 * -------------------------------------------------- */
 
table.song-table {
 	width: 100%;
 	font-family: inherit;
 }
 
table.song-table { 
  border: 0; 
} 

.song-table td {
	padding: 3px;
	vertical-align: top;
	border: 0;
}

.song-row {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
}
 
.song-title {
	font-size: 1.8em;
	margin-left: 0;
	margin-top: 0;
	font-family: inherit;
	font-weight: normal;
	margin-bottom: 0.4em;
}

.song-title-slug {
	font-size: 1.8em;
	margin-left: 0;
	margin-top: 1em;
	font-family: inherit;
	font-weight: normal;
	margin-bottom: 0.6em;
	color: var(--text-color);
}

.song-title-slug a:link {
	color: var(--text-color);
	text-decoration: none;
	border-bottom: 0;
}

.song-title-slug a:visited {
	color: var(--text-color);
	text-decoration: none;
	border-bottom: 0;
}

.song-info-label {
	font-size: 0.8em;
	font-weight: 400;
	font-style: italic;
	margin-top: 0;
	margin-bottom: 0;
}

.song-info-value {
	margin-top: 0;
	margin-bottom: 0.3em;
}

img.song-image {
	max-width: 13em;
	height: auto;
	float: right;
	padding: 0;
	border: 4px solid gray;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 1.2em;
	margin-left: 1.2em;
}

.read-more {
	color: #FFFFFF;
	background-color: #0d6efd;
	border-color: #0d6efd;
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	border: 1 px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	border-radius: 0.25rem;
}

blockquote { 
  border-left: 0.4em solid #999;
  margin-left: 0;
  padding-left: 1em;
} 
figure { 
  margin-left: 0.2em;
  padding-left: 0.2em;
} 

img { 
  max-width: 100%; 
  height: auto; 
} 

/* --------------------------------------------------

	Tags Cloud
	
 * -------------------------------------------------- */


ul.tags-list { list-style-type: none; }

ul.tags-cloud { 
  border: none;
  list-style: none; 
  padding-left: 0; 
  display: flex; 
  flex-wrap: wrap; 
  align-items: center; 
  justify-content: center; 
  line-height: 2.5rem; 
  font-family: 'concourse_t3regular', 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.1rem; 
  font-weight: 600; 
} 

ul.tags-cloud a { 
  display: block; 
  position: relative;

  text-decoration: none; 
  border-bottom: 0;
   
  color: inherit;

  border-radius: 10px; 
  background-color: #C06E6C; 
  color: #211E1F;
  padding: 1px 12px 1px 12px; 
  margin: 10px 10px 10px 10px; 
  min-width: 40px; 
  text-align: center; 
} 

ul.tags-cloud a:link { 
  text-decoration: none; 
  border-bottom: 0;
  color: inherit;
  color: #211E1F;
} 

ul.tags-cloud a:visited { 
  text-decoration: none; 
  border-bottom: 0;
  color: inherit;
  color: #211E1F;
} 

/* --------------------------------------------------

	Page Footer
	
 * -------------------------------------------------- */

.back-to-top {
  background-color: #C06E6C; 
  border: none;
  color: #211E1F;
  padding: 15px 32px;
  margin-bottom: 1.5rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
  font-family: 'concourse_t4regular', 'Avenir Next', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-radius: 10px;
  float: right;
  cursor: pointer:
}

.back-to-top a {
	text-decoration: none;
	border-bottom: 0;
	color: inherit;
}

.back-to-top a:link {
	text-decoration: none;
	border-bottom: 0;
	color: inherit;
}

.back-to-top a:hover {
	text-decoration: none;
	border-bottom: 0;
	color: inherit;
}

.back-to-top a:visited {
	text-decoration: none;
	border-bottom: 0;
	color: inherit;
}

ul.checklist { list-style-type: none; }

