<?nextrec?>
<?output "../../../index.html"?>
<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<title>=$title$=</title>
		<meta name="description" content="Lexicon of Song" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<?include "../includes/head-links.html" ?>
	</head>
	<body>
		<div id="wrapper">

<?include "../includes/header.html" ?>

							<div id="nav-menu">
								<ul>
									<li><a class="active" href="index.html">Home</a></li>
									<li><a href="songs.html">Songs</a></li>
									<li><a href="topics.html">Topics</a></li>
									<li><a href="alphabetical-index.html">Index</a></li>
									<li><a href="about.html">About</a></li>
								</ul>
							</div>

<div class="lex-content">
<p>   </p>
=$body&w1o$=
</div>

<?include "../includes-gen/recent-posts.html" ?>

<?include "../includes/footer.html" ?>

		</div>  <!-- end of wrapper div -->
		
	</body>
</html>
<?loop?>
