<?nextrec?>
<?output "../../../index.html"?>
<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<title>=$title$=</title>
		<meta name="description" content="Lexicon of Song" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<?include "../includes/head-links.html" ?>
	</head>
	<body>
		<div id="wrapper">

<?include "../includes/header.html" ?>

<h1>=$title$=</h1>

=$body&o$=

<?include "../includes-gen/recent-posts.html" ?>

		</div>  <!-- end of wrapper div -->
		
	</body>
</html>
<?loop?>
