<?nextrec?>
<?output "../../../index.html"?>
<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<title>=$title$=</title>
		<meta name="description" content="Lexicon of Song" />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<?include "../includes/head-links.html" ?>
	</head>
	<body>
		<div id="wrapper">

<?include "../includes/header.html" ?>

<?include "../includes/nav-menu.html" ?>

<div class="lex-content">
<p>   </p>
=$body&w1o$=
</div>

<?include "../includes-gen/recent-posts.html" ?>

<hr />

<p>For a complete list of all songs discussed on the site, see the <a href="songs.html">Songs Table</a>.</p>

<?include "../includes/footer.html" ?>

		</div>  <!-- end of wrapper div -->
		
	</body>
</html>
<?loop?>
