<?nextrec?>
<?output "../../../=$title&f$=.html"?>
<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<title>=$title$= | Lexicon of Song</title>
		<meta name="description" content='An Essay on the Song "=$title$="' />
		<meta name="viewport" content="width=device-width,initial-scale=1.0" />
<?include "../includes/head-links.html" ?>
	</head>
	<body>
		<div id="wrapper">

<?include "../includes/header.html" ?>

<?include "../includes/nav-menu.html" ?>

<table class="song-table">
	<tr class="song-row">
		<td colspan="2">
			<p class="song-info-label">
				Song Title:
			</p>
			<h1 class="song-title">
				=$title$=
			</h1>
		</td>
	</tr>
	<tr class="song-row">
		<td>
			<p class="song-info-label">
				Songwriter(s):
			</p>
			<p class="song-info-value">
				=$songwriters$=
			</p>
		</td>
		<td>
			<p class="song-info-label">
				Year Written:
			</p>
			<p class="song-info-value">
				=$date-of-song$=
			</p>
		</td>
	</tr>
	<tr class="song-row">
		<td>
			<p class="song-info-label">
				Appreciation by:
			</p>
			<p class="song-info-value">
				=$author-of-essay$=
			</p>
		</td>
		<td>
			<p class="song-info-label">
				Appreciation written:
			</p>
			<p class="song-info-value">
				=$date-of-essay$=
			</p>
		</td>
	</tr>
	<tr class="song-row">
		<td>
			<p class="song-info-label">
				Topics:
			</p>
			<p class="song-info-value">
				=$tags$=
			</p>
		</td>
		<td>
			<p class="song-info-label">
				Minutes to Read:
			</p>
			<p class="song-info-value">
				=$minutes-to-read$=
			</p>
		</td>
	</tr>
</table>

<?copyfile "../../files/=$imagename$=" "../../../images/=$imagename&f$=" ?>

<div class="lex-content">
<img class="song-image" src="=$relative$=images/=$image-name&f$=" alt="=$image-alt$=">
=$body&w1o$=
</div>

<p class="line-spacer"> &nbsp; </p>

=$apple-music-player$=

<?include "../includes/footer.html" ?>

		</div>  <!-- end of wrapper div -->

</body>
</html>
<?loop?>
